body{
    padding: 0;
    margin: 0;
}

.dimension{
    height: 100vh;
}

#Front_page nav a {
    text-decoration: none;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0.7%;
    border-radius: 20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;

}

#Front_page nav a:hover {
    color: white;
    background-color: #EBBBB1;
    font-size: 110%;
    margin-right: 11% ;
    margin-left: 11% ;
}

#Front_page nav {
    text-align: center;
    padding-top: 2%;
}

#my_name{
    position: absolute;
    top: 25%;
    left: 10%;
}

#my_name h1{
    font-family: 'MuseoModerno', cursive;
    font-size: 75px;
    margin-bottom: 0;
}

#my_name p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}


#threeD_model iframe{
    position: absolute;
    left: 45%;
    bottom: 10%;
    border-radius: 20px;
    z-index: -1;
}

.About_me_img{
    width: 130%;
    border-radius: 20px;
    height: -50%;
    margin-left: 15%;
    margin-top: 15%;
}

#About_me_image{
    margin-left: 5%;
    height: fit-content;
    transform: translateY(30%);
    
}

#About_me{
    display: flex;
}

#About_me_txt{
    padding: 0% 15% 15% 15%;
    height: 350.93px;
    transform: translateY(50%);
    width: 650%;
}

#About_me_txt h2{
    margin-top: 0px;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    font-size: 50px;
}

#About_me_txt p{
    text-align: center;
    font-size: 19px;
}

#About_me_txt a img{
    height: 100px;
    transform: translateX(270%);
}

#About_me_txt a{
    text-decoration: none;
    color: black;
    border: 1px black solid;
    border-radius: 20px;
    padding: 1%;
    margin-left: 41%;
}

#About_me_txt a:hover{
    background-color: #EBBBB1;
    color: white;
}

#border_img_one{
    border: 2px black solid;
    border-radius: 20px;
    height: 80%;
    width: 110%;
    z-index: -1;
    position: absolute;
}

#border_img_two{
    border: 2px black solid;
    border-radius: 20px;
    height: 54.5%;
    width: 40%;
    z-index: -1;
    position: absolute;
    top: 10%;
}

#Experience{
    display: flex;
    transform: translateY(20%);

}

#Experience_img img{
    height: 55%;
    border-radius: 20px;
    transform: translateX(-15%);
}

#Experience_txt{
    padding:0% 10% 10% 10%;
}

#Experience_txt h2{
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    font-size: 50px;
}

#Biocoop_container{
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5%;
}

#Biocoop_container:hover{
    background-color: #EBBBB1;
    color: white;
}

#Biocoop_child_one{
    padding: 3%;
}

#Biocoop_child_one h3{
    font-family: 'MuseoModerno', cursive;
    width: max-content;
}

#Biocoop_child_two p{
    transform: translateY(21%);
}

#container_bouton_add_experience{
    border: 2px solid black;
    margin-top: 2%;
    border-radius: 20px;
    padding: 2%;
}

#container_bouton_add_experience:hover{
    border: 2px solid black;
    color: white;
    background-color: #EBBBB1;
}

#container_bouton_add_experience a img{
    margin-left: 50%;
    transform: translateX(-50%);
}

#Resume_Cover_Letter div h2{
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    margin-top: 10%;
}

#container_Resume_and_Cover_Letter{
    display: flex;
}

.Resume_and_Cover_Letter_child{
    width: 50%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5%;
    padding: 1%;
}

.Resume_and_Cover_Letter_child:hover{
    color: white;
    background-color: #EBBBB1;

}


.Resume_and_Cover_Letter_child h3{
    text-align: center;
    font-family: 'MuseoModerno', cursive;

}

.Resume_and_Cover_Letter_child p{
    padding: 5%;
    text-align: center;
    margin-bottom: 0px;
}

.Resume_and_Cover_Letter_child a{
    text-decoration: none;
    color: black;
   
}

.Resume_and_Cover_Letter_child a:hover{
    text-decoration: none;
    color: white;
    text-decoration:underline;    
}

.description{
    text-align: center;
}


#separation{
    margin-top: 5.5%;
    width: 1px;
    background-color: black;
    height: 200px;
}


footer{
    border-top: dashed 2px black;
}

footer div{
    text-align: center;
    transform: translateY(55%);
}

footer div a{
    text-decoration: none;
    color: black;
    padding: 1%;
    height: 185px;
    padding-bottom: 10%;
}

footer div a:hover{
    text-decoration: #EBBBB1 underline;

}

#dimension{
    height: 20vh;
}

footer div a img{
    transform: translateY(40%);
    z-index: 1;
}

footer div h2{
    font-family: 'MuseoModerno', cursive;
}